www.{$SITE_DOMAIN:lsesports.ru} {
	redir https://{$SITE_DOMAIN:lsesports.ru}{uri} permanent
}

{$SITE_DOMAIN:lsesports.ru} {
	encode zstd gzip

	request_body {
		max_size 55MB
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy site:3000 {
		lb_try_duration 10s
		lb_try_interval 250ms
	}

	log {
		output stdout
		format filter {
			request>uri query {
				replace code REDACTED
				replace state REDACTED
			}
			wrap console
		}
	}
}
