www.{$SITE_DOMAIN:lsesports.ru} {
	redir https://{$SITE_DOMAIN:lsesports.ru}{uri} permanent
}

{$SITE_DOMAIN:lsesports.ru} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy site:3000

	log {
		output stdout
		format console
	}
}
